.TodoList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  min-height: 300px;
}
.TodoList:has(.TodoList__NoValue) {
  justify-content: center;
}
.TodoList--hide {
  height: 0px;
  min-height: 0px;
}
.TodoList--show {
  height: 100%;
}
.TodoList__NoValue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--font-color-2);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-2);
}
