.TodoConfig {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  color: var(--font-color-2);
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-0);
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
}
.TodoConfig__ListLength {
  width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.TodoConfig__ListType {
  display: flex;
  align-items: center;
  gap: 18px;
}
.TodoConfig__ListType__Item {
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
}
.TodoConfig__ListType__Item--active {
  border: 1px solid var(--block-color-2);
}
.TodoConfig__ListCompleted {
  cursor: pointer;
}
